<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Clover.Theme</key>
	<data>
	ZW1iZWRkZWQ=
	</data>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Pg==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	7g==
	</data>
	<key>backlight-level</key>
	<data>
	oAA=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	KwqHgAAAAABgFAAAAAAAAA==
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-backup-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkZGNzAxNUFFLUZG
	RjEtNDVDMi04Mjc5LTkzMEU3MEYzNkNGOTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-backup-boot-device-data</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkZGNzAxNUFFLUZG
	RjEtNDVDMi04Mjc5LTkzMEU3MEYzNkNGOTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-backup-boot-device-data-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAIAAAAAAAQBKgACAAAAKEAGAAAAAACAsuYOAAAA
	AK4VcP/x/8JFgnmTDnDzbPkCAn//BAA=
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkZGNzAxNUFFLUZG
	RjEtNDVDMi04Mjc5LTkzMEU3MEYzNkNGOTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAIA//8AAAQBKgACAAAAKEAGAAAAAACAsuYOAAAA
	AK4VcP/x/8JFgnmTDnDzbPkCAgQDJAD3/HS+fAvzSZFHAfQELmhCPvr/UdQRIEC5RdyF
	qa51xn//BAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	eE1URHjigJlzIE1hY0Jvb2sgUHJv
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46MA==
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAIA//8AAAQBKgACAAAAKEAGAAAAAACAsuYOAAAA
	AK4VcP/x/8JFgnmTDnDzbPkCAgQDJAD3/HS+fAvzSZFHAfQELmhCPvr/UdQRIEC5RdyF
	qa51xn//BAA=
	</data>
</dict>
</plist>